<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
</ul>
<%= form_with(url:  "/tenants/#{@tenant.id}", method: "patch", local: true) do |form|%>
<h1>Update <%=@tenant.tenant_name %></h1>
<h3>Current Details:</h3>
<ul>
  <p><li>Income: <%= @tenant.income %></li></p>
  <p><li>Pets? <%= @tenant.pets %></li></p>
  <p><li>Occupation: <%= @tenant.occupation %></li></p>
  <p><li>Rent Price: <%= @tenant.rent_price %></li></p>
</ul>
<br>
  <table> 
    <tr> 
      <td> <%= form.label :tenant_name  %></td>
      <td> <%= form.text_field :tenant_name %></td>

    </tr>

    <tr> 
      <td> <%= form.label :income  %></td>
      <td> <%= form.text_field :income %></td>

    </tr>

    <tr> 
      <td> <%= form.label :pets  %></td>
      <td> <%= form.select(:pets, options_for_select([true, false])) %></td>

    </tr>

    <tr> 
      <td> <%= form.label :occupation  %></td>
      <td> <%= form.text_field :occupation %></td>

    </tr>
    <tr> 
      <td> <%= form.label :rent_price  %></td>
      <td> <%= form.text_field :rent_price %></td>

    </tr>
    
    <tr>
      <td> <%= form.submit "Update this Tenant" %></td>
  
    </tr>
  </table>
<%end%>
<br>
<%= button_to "Home Page", "/", method: :get %>
