<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
</ul>

<h1><%= @tenant.tenant_name %></h1>
<p>Income:<%= @tenant.income %></p>
<p>Pets?<%= @tenant.pets %></p>
<p>Occupation:<%= @tenant.occupation %></p>
<p>Rent Price:<%= @tenant.rent_price %></p>
