<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
  <li><a href="/apartments/<%= @apartment.id %>/tenants/new">Create Tenant</a></li>
</ul>
<h1><%= @apartment.apt_name %></h1>

<%# <% if params[:sort] == "true" %>
  <%= link_to "Sort Tenants Alphabetically", "/apartments/#{@apartment.id}/tenants/?sort=true"%>
  <%# <% @tenants = @tenants.sort_by {|tenant| tenant.tenant_name}%> 

<%# <%end %> 

<% @tenants.each do |tenant|%>
  <p><h3><%= tenant.tenant_name%></h3></p>
  <p>Income: <%= tenant.income%></p>
  <p>Pets? <%= tenant.pets%></p>
  <p>Occupation: <%= tenant.occupation%></p>
  <p>Monthly Rent: <%= tenant.rent_price%></p>
  <p><a href="/tenants/<%= tenant.id %>/edit">Edit <%= tenant.tenant_name %>'s Info </a></p>
  <%= button_to "Delete #{tenant.tenant_name}", "/tenants/#{tenant.id}", method: :delete %>

<% end %>

<%# <%= link_to t('tenant_name'), url_for(sort: "tenants.tenant_name")%> 

<%# <%= button_to "Sort Tenants", "/apartments/#{@apartment.id}/tenants", method: :sort %> 
<%# <%= link_to "Sort Alphabetically", edit_tenant_path(:id)(@tenant.apartment_id, sort_by: :tenant_name)%> 
