<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
</ul>
<%= form_with(url:  "/apartments/#{@apartment.id}", method: "patch", local: true) do |form|%>
  <header><h1>Update <%= @apartment.apt_name%></h1></header>
  <table> 
    <tr> 
      <td> <%= form.label :apt_name  %></td>
      <td> <%= form.text_field :apt_name %></td>

    </tr>
    <tr> 
      <td> <%= form.label :has_wd  %></td>
      <td> <%= form.select(:has_wd, options_for_select([true, false])) %></td>

    </tr>

     <tr> 
      <td> <%= form.label :unit_count  %></td>
      <td> <%= form.text_field :unit_count %></td>

    </tr>

    <tr> 
      <td> <%= form.label :city  %></td>
      <td> <%= form.text_field :city %></td>

    </tr>

    <tr> 
      <td> <%= form.label :state  %></td>
      <td> <%= form.text_field :state %></td>

    </tr>

    <tr> 
      <td> <%= form.label :pet_friendly  %></td>
      <td> <%= form.select(:pet_friendly, options_for_select([true, false])) %></td>

    </tr>

    <tr>
      <td> <%= form.submit "Edit Apartment" %></td>
  
    </tr>
  </table>
<%end%>
<br>
<%= button_to "Home Page", "/", method: :get %>

