<p><a href="/tenants">Tenant List</a></p>
<p><a href="/apartments/new">New Apartment</a></p>
<h1>Apartments List</h1>

<% @apartments.each do |apartment| %>
  <p><h3><a href="/apartments/<%= apartment.id %>"> <%= apartment.apt_name %> </a></h3></p>
  <%= apartment.created_at %>
  <p><a href="/apartments/<%= apartment.id %>/edit">Edit <%= apartment.apt_name %>'s Info </a></p>

<% end %>

