<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
</ul>
<%= form_with(url:  "/apartments", method: "post", local: true) do |form|%>
  <header><h1>Add a new Apartment</h1></header>

  <table> 
    <tr> 
      <td> <%= form.label :apt_name  %></td>
      <td> <%= form.text_field :apt_name %></td>

    </tr>
    <tr> 
      <td> <%= form.label :has_wd  %></td>
      <td> <%= form.select(:has_wd, options_for_select([true, false])) %></td>

    </tr>

     <tr> 
      <td> <%= form.label :unit_count  %></td>
      <td> <%= form.text_field :unit_count %></td>

    </tr>

    <tr> 
      <td> <%= form.label :city  %></td>
      <td> <%= form.text_field :city %></td>

    </tr>

    <tr> 
      <td> <%= form.label :state  %></td>
      <td> <%= form.text_field :state %></td>

    </tr>

    <tr> 
      <td> <%= form.label :pet_friendly  %></td>
      <td> <%= form.select(:pet_friendly, options_for_select([true, false])) %></td>

    </tr>

    <tr>
      <td> <%= form.submit "Create New Apartment" %></td>
  
    </tr>
  </table>
<%end%>



<!--form action="/apartments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p><h1>Create a new apartment:</h1></p>

  <label for='apartment[apt_name]'>Apartment Name:</label><br>
  <input type='text' name='apartment[apt_name]'/><br/>

 
  <label for='apartment[has_wd]'>Washer and Dryer In-Unit?</label><br>
  <input type="radio" id="wdyes" name="apartment[has_wd]" value="Yes">
  <label for="wdyes">Yes</label><br>
  <input type="radio" id="wdno" name="apartment[has_wd]" value="No">
  <label for="wdno">No</label><br>

  <label for='apartment[unit_count]'>How many units?</label><br>
  <input type='number' name='apartment[unit_count]'/><br/>

  <label for='apartment[city]'>City:</label><br>
  <input type='text' name='apartment[city]'/><br/>

  <label for='apartment[state]'>State:</label><br>
  <input type='text' name='apartment[state]'/><br/>

  <label for='apartment[pet_friendly]'>Pet Friendly?</label><br>
  <input type="radio" id="petyes" name="apartment[pet_friendly]" value="Yes">
  <label for="petyes">Yes</label><br>
  <input type="radio" id="petno" name="apartment[pet_friendly]" value="No">
  <label for="petno">No</label><br>

  <input type='submit' value= 'Submit'/>
</form>

<ul>
  <li><a href="/apartments">Apartment List</a></li>
  <li><a href="/tenants">Tenant List</a></li>
</ul>